.display-table table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
.display-table tr:nth-of-type(odd) {
  background: #eee;
}
.display-table th {
  background: #333;
  color: white;
  font-weight: bold;
}
.display-table td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
